*.*~
*.bak
*.pyc
*.log
*.project
*.pydevproject
*.DS_Store
.DS_Store
.settings
orchestrator-core/.metadata/
orchestrator-core/doubledecker/*
config/*.ini
!config/default-config.ini
keys/broker-keys.json
keys/public-keys.json
templates


.idea/
__pycache__/
